<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
